@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Montserrat Alternates', sans-serif;
	}
	body{
		background:url(img/fondoweb.jpg);
		background-size: 100vw 450vh;
		background-repeat: no-repeat;
        
	}
	.capa{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: rgba(0,0,0,0);
		z-index: -1;
		top: 0;left: 0;
	}
	/*Estilos para el encabezado*/
	.header{
		width: 100%;
		height: 100px;
		position: fixed;
		top: 0;left: 0;
	}
	.container{
		width: 90%;
		max-width: 1800px;
		margin: auto;
	}
	.container .btn-menu, .logo{
		float: left;
		line-height:100px;
	}
	.container .btn-menu label{
		color: #fff;
		font-size: 25px;
		cursor: pointer;
	}
	.logo h1{
		color: #fff;
		font-weight: 400;
		font-size: 22px;
		margin-left: 10px;
	}
	.container .menu{
		float: right;
		line-height: 100px;
	}
	.container .menu a{
		display: inline-block;
		padding: 15px;
		line-height: normal;
		text-decoration: none;
		color: #fff;
		transition: all 0.3s ease;
		border-bottom: 2px solid transparent;
		font-size: 15px;
		margin-right: 5px;
	}
	.container .menu a:hover{
		border-bottom: 2px solid #c7c7c7;
		padding-bottom: 5px;
	}
	/*Fin de Estilos para el encabezado*/

	/*Menù lateral*/
	#btn-menu{
		display: none;
	}
	.container-menu{
		position: absolute;
		background: rgba(0,0,0,0);
		width: 100%;
		height: 100vh;
		top: 0;left: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
	}
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}
	.cont-menu{
		width: 100%;
		max-width: 250px;
		background: #1c1c1c;
		height: 100vh;
		position: relative;
		transition: all 500ms ease;
		transform: translateX(-100%);
	}
	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	.cont-menu nav{
		transform: translateY(15%);
	}
	.cont-menu nav a{
		display: block;
		text-decoration: none;
		padding: 20px;
		color: #c7c7c7;
		border-left: 5px solid transparent;
		transition: all 400ms ease;
	}
	.cont-menu nav a:hover{
		border-left: 5px solid #c7c7c7;
		background: #1f1f1f;
	}
	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 10px;
		color: #fff;
		cursor: pointer;
		font-size: 18px;
	}
	/*Fin de Menù lateral*/

	 /*texto inicio*/
	 .h2-ley{
        color: #fff;
        font-size: 35px;
    }
    .p1-ley{
        font-size: 20px;
		color:#fff;
    }

/*cards giratorias*/

.body-menu{
	align-items: center;
	display: flex;
	justify-content: center;
}

.card{
	align-items: center;
	display: flex;
	justify-content: center;
	position: relative;
	width: 300px;
	height: 350px;
}
.card .face{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	border-radius: 10px;
	overflow: hidden;
	transition: .5s;
}
.card .front{
	transform: perspective(600px) rotate(0deg);
	box-shadow: 0 5px 10px #000;
}
.card .front img{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.card .front h3{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 45px;
	line-height: 45px;
	color: #fff;
	background: rgba(0,0,0,.4);
	text-align: center;
}
.card .back{
	transform: perspective(600px) rotateY(180deg);
	background: rgb(3, 35, 54);
	padding: 15px;
	color: #f3f3f3;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	box-shadow: 0 5px 10px #000;
}
.card .back .link{
	border-top: solid 1px #f3f3f3;
	height: 50px;
	line-height: 50px;
}
.card .back .link a{
	color:#f3f3f3;
}
.card .back h3{
	font-size: 30px;
	margin-top: 20px;
	letter-spacing: 2px;
}
.card .back p{
	letter-spacing: 1px;
}
.card:hover .front{
	transform: perspective(600px) rotateY(180deg);
}
.card:hover .back{
	transform: perspective(600px) rotateY(360deg);
}

/*barra de color*/
::-webkit-scrollbar{
	width: 20px;
}
::-webkit-scrollbar-track{
	background: #dddddd;
}
::-webkit-scrollbar-thumb{
	background: greenyellow;
}

/*pie de pagina*/
html {
	min-height: 100%;
	position: relative;
}

body {
	margin: 0;
}

.wrapper {
	margin: 0;
	margin-bottom: 40px;
}

footer {
	background-color: black;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 120px;
	color: white;
}
	 